dialog {
    width: 40vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #474747;
    color: white;
}

.modal_header{
    padding: 20px;
}

.modal_header h1{
    font-size: xx-large;
}

#addCollectionForm {
    /* background-color: darkslategrey; */
    /* width: 80%; */
    padding: 10px;
    height: calc(100% - 77px); 
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}

.input_area__addCollection input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #343434;
    border-radius: 10px;
}

.modal_content__actionButtons{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 10px;
}

.modal_content__actionButtons input[type=submit],
.modal_content__actionButtons button{
    padding: 8px;
    border-radius: 40px;
    background-color: #b3b3b3;
}

.addCards__addCardsInput{
    background-color: #575757;
    /* height: 80px; */
    /* display: flex; */
    /* gap: 10px; */
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;    
}

.addCards__addCardsInput input {
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 10px 10px 3px 10px;
}

.addCards__addCardsInput span {
    font-weight: 700;
}

.input_area__addCards{
    gap: 17px;
    height: 280px;
    margin-top: 15px;
    overflow-y: auto;
}
